html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #bbb;
}

*,
::before*,
::after*{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #333;

}
#title{
    font-size: clamp(1rem, 1rem + 4vw, 2rem);
}
#description{
    font-size: clamp(.5rem, .5rem + 2vw, 1rem);
    margin-bottom: 2rem;
}
/*////////////////BARA DE BUSQUEDA/////////////////*/
#search-text{
    width: min(90%, 700px);
    padding-inline: 1.5rem;
    margin-inline: auto;

    background-color: #bbb;
    
    font-size: 1.2rem;
    
    border-radius: 50vh;
}

#search-text:focus{
    outline: none;
}

/*////////////////SHOWS CONTAINER/////////////////*/
.shows{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
    
    width: min(calc(100% - .5rem), 1200px);
    padding-block: .5rem;
    padding-block: 3rem;
    
    background-color: #333;
}

/*////////////////SHOW CARDS/////////////////*/
.show{
    position: relative;

    display: flex;
    flex-direction: column;

    margin-inline: auto;

    min-width: none;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}
.show::before{
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;

    content:"";
    
    background:linear-gradient(180deg, transparent 0%, black 60%);
}
.show:hover img{
    transition: all 10s linear;
    transform: scale(1.5);
}
.name, 
.genres,
.rating{
    margin-left: 2rem;
    z-index: 99;
}
.name{
    margin: -5rem 0 0 2rem;
    
    font-size: clamp(.7rem, .5rem + 2vw, 1.2rem);
}
.genres{
    margin-top: .5rem;
    
    font-size: clamp(.5rem, .2rem + 1vw, 1rem);
}
.summary-box{
    
    font-size: clamp(.7rem, .2rem + 1vw, 1rem);
    z-index: 99;

    padding: 0 1rem;
    margin:0 1rem 1rem;
    max-height: 6.5rem;
    
    overflow: auto;

    scrollbar-width: none;
}
.summary-box::-webkit-scrollbar {
    display: none;
}
.rating{
    margin-top: auto;
    margin-left: auto;
    margin-right: 2rem;
}
.error{
    margin-inline: auto;
}

